<form class="form"
      autocomplete="off"
      [formGroup]="miFormulario"
      (ngSubmit)="login()">

    <div class="form__container">
      
        <h2 class="form__title">Login</h2>
        <input type="password" formControlName="password" class="form__input" placeholder="Password...">
        <span class="form-text text-danger"
              *ngIf="campoNoEsValido('password')">
            El campo es obligatorio!
        </span>
        <input type="email" formControlName="email" class="form__input" placeholder="Email...">
        <span class="form-text text-danger"
              *ngIf="campoNoEsValido('email')">
            El campo es obligatorio!
        </span>

        <div class="form-group">
            <button class="btn btn-success btn-lg btn-block anchor" 
                    [disabled]="miFormulario.invalid" 
                    type="submit">
                <i class="fa-solid fa-arrow-right-to-bracket"></i>
                Login
            </button>    
        </div>

        <h5 class="text-center">
            !No tienes cuenta!
        </h5>
        <a class="liga" routerLink="/auth/registro">
            Ingresa aqui
        </a>

    </div>
</form>
