<form class="form"
      autocomplete="off"
      [formGroup]="miFormulario"
      (ngSubmit)="login()">

    <div class="form__container">
      
        <h2 class="form__title">Login</h2>
        <input type="text" formControlName="password" class="form__input" placeholder="Password...">
        <input type="email" formControlName="email" class="form__input" placeholder="Email...">
        
        <div class="form-group">
            <button class="btn btn-success btn-lg btn-block anchor" 
                    [disabled]="miFormulario.invalid" 
                    type="submit">
                <i class="fa-solid fa-arrow-right-to-bracket"></i>
                Login
            </button>    
        </div>

    </div>
</form>