<header class="header">

    <div class="contenedor">
        <div class="barra">
            <a class="logo" routerLink="/tareas/show">
                <h1 class="logo__nombre ">Aplicación<span class="logo__bold">Esparragos</span></h1>
            </a>
            <ul class="listas">
                <li *ngFor="let item of esparragosMenu"
                    class="navegacion_enlace"
                    [routerLink]="item.ruta"
                    routerLinkActive="active">
                    {{ item.texto }}
                </li>
            </ul>
        </div>
    </div>

</header>

<div class="container mt-3">
    <h2 class="text-center">Componente Show</h2>
    <div class="d-grip gap-2 mt-4 mb-3">
        <a routerLink="/tareas/create"
        class="btn btn-success"
        type="button">
            Crear
        </a>
    </div>
    <table class="table table-hover table-striped">
    
        <thead class="bg-dark text-white">
            <tr>
                <th>Nombre</th>
                <th>Empresa</th>
                <th>Kilos</th>
                <th>Precio</th>
                <th>Fecha</th>
                <th class="pr-2">Acciones</th>
            </tr>
        </thead>
    
        <tbody>
            <tr *ngFor="let post of Post">
                <th>{{ post.nombre }}</th>
                <th>{{ post.empresa }}</th>
                <th>{{ post.kilos}}</th>
                <th>{{ post.precio }}</th>
                <th>{{ post.fecha }}</th>
                <td class="botones-flex">
                    <button routerLink="/esparragos/edit/{{post.id}}"
                            class="btn btn-outline-secondary">
                            <i class="fa-solid fa-pen"></i>
                    </button>
                    <!-- <button (click)="deleteRow(post)"
                            class="btn btn-outline-danger">
                            <i class="fa-solid fa-trash"></i>
                    </button> -->
                </td>
            </tr>
        </tbody>
    
    </table>
    
</div>


